<header>
    <div class="header">
        <div class="header-content">
            <h1>What’s your opinion on <span>Pope Francis?</span></h1>
            <p>He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)</p>
            <div class="more-info"><img src="assets/img/wiki.png" alt=""><a href="">More information</a></div>
            <h2>What’s Your Verdict?</h2>
        </div>
        <div class="header-buttons">
            <div class="header-thumbs-up">
                <img src="assets/img/thumbs-up.png" alt="">
            </div>
            <div class="header-thumbs-down">
                <img src="assets/img/thumbs-down.png" alt="">
            </div>
        </div>
    </div>
    <div class="closing-time-bar">
        <div class="closing-time-text">
            <p>Closing in</p>
        </div>
        <div class="closing-time-days">
            <p><strong>22</strong> days</p>
        </div>
    </div>
</header>
