<div class="container">
  <div class="footer-add-box">
    <div class="footer-add-box-content">
      <p>Is there anyone else you would want us to add?</p>
      <button>Submit a Name</button>
    </div>
  </div>
  <div class="footer-links">
    <div class="footer-links-left">
      <a href="">Terms and Conditions</a>
      <a href="">Privacy Policy</a>
      <a href="">Contact Us</a>
    </div>
    <div class="footer-links-right">
      <p>Follow us</p>
      <a href=""><img src="assets/img/facebook.png" alt=""></a>
      <a href=""><img src="assets/img/twitter.png" alt=""></a>
    </div>
  </div>
</div>

